<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<p><%= @book.body %> </p>
<p>
	Who recommends this book?
	<% @book.authors.each do |author| %>
		<%= link_to author.name, author_path(author) %>
	<% end %>
</p>
<%= link_to "<< Back to Books List", books_path %>
<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "delete", book_path(@book), method: :delete, data: {confirm: "Really delete the article?"}%>
