<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<p><%= @book.body %> </p>
<%= link_to "<< Back to Books List", books_path %>
<%= link_to "edit", edit_book_path(@book) %>
<%= link_to "delete", book_path(@book), method: :delete, data: {confirm: "Really delete the article?"}%>
