<!DOCTYPE html>
<html>
<head>
  <title>Bookproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="hero" class="hero u-full-width">
		<div class="hero-image"></div>
		<dive class="container centered">
			<div class="twelve columns">
				<h1 class="separator"> Look4Books </h1>
				<h2> Life changing books from all kinds of people </h2>
			</div>
		</div>
	</section>
	<nav class="navigation">
		<a href="#" class="menu-icon">
			<i class="fa fa-bars"></i>
		</a>
		<ul class="main-navigation" role="navigation">
			<li><a href="#hero">Home</a></li>
			<li><a href="#books">Books</a></li>
			<li><a href="#people">People</a></li>
		</ul>
	</nav>
	<p class="flash"><%= flash.notice %></p>
	<%= yield %>
	<br class="u-full-width">
	<div class="container-centered">
		<%= link_to "All Books", books_path, class: 'button' %>
		<%= link_to "All People", authors_path, class: 'button' %>
	</div>	
	<br>
	<h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% end %>
    </h6>
</body>
</html>
