<!DOCTYPE html>
<html>
<head>
  <title>Bookproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="flash"><%= flash.notice %></p>
<%= yield %>
<br>
<%= link_to "All Books", books_path %>
<%= link_to "All People", authors_path %>
<br>
<h6>
        <% if logged_in? %>
          <%= "Logged in as #{current_user.email}" %>
          <%= link_to "(logout)", logout_path %>
        <% end %></h6>
</body>
</html>
